<div class="container-fluid">
	<div class="row">
		<div class="col-lg-8 col-md-auto col-sm-auto">
			<img src="https://media.istockphoto.com/id/121689858/it/foto/pizzeria.jpg?s=612x612&w=0&k=20&c=Tq1NrTZsn6LZWDwX6nFyzUTUuLB1yMQ_c62zlt64fvY=" class="img-fluid modal-content rounded" />
		</div>
		<div class="col-lg-4 col-md-auto col-sm-auto align-content-center">
			<h3>Pizzaioli dal 1957</h3>
			<div class="card justify-content-around" style="width: 18rem;">
				<img src="https://i0.wp.com/www.50toppizza.it/wp-content/uploads/2022/06/84-Carmine-Donzetti-Pizza-Fritti.jpg?resize=600%2C600&ssl=1" class="card-img-top" alt="Titolare">
				<div class="card-body">
					<h5 class="card-title">Titolare: Mario Rossi</h5>
					<p class="card-text">Nato a Torino nel 1980, prese le redini del locale da suo nonno nel 2007...</p>
				</div>
			</div>
			<div class="card justify-content-around" style="width: 18rem;">
				<img src="https://www.divisecamicigavezzoli.com/wp-content/uploads/2020/01/gavezzoli-dicembre-3.jpg" class="card-img-top" alt="Pizzaiolo">
				<div class="card-body">
					<h5 class="card-title">Pizzaiolo: Pasquale Esposito</h5>
					<p class="card-text">Nato a Napoli nel 1975, Altamente specializzato in Pizze Napoletane e Gourmet</p>
				</div>
			</div>
		</div>
	</div>
</div>